.controls {
  display: flex;
}

.controls__box-container {
  display: flex;
}

.controls__input {
  cursor: pointer;
}



.controls__link {
  text-align: center;
  display: inline;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto;
}

.controls__box {
  border: 1px solid pink;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

}

.box__label {
  color: pink;
  font-weight: bolder;
}

.controls__pupik {
  /* border:1px solid red; */
  margin-top:0.5rem;
  display: flex;
  justify-content: space-between;
}

.pupik-btn {
  border: 1px solid black;
  border-radius: 5px;
  flex:1
}

.pupik-reset{
 color: red;
}