.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: 1px solid red; */

}

.header__info {
  /* border: 1px solid red; */
  font-style: italic;

}
.header__author {
  font-size: small;
}