.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__info {
  display: inline-block;
  font-style: italic;
}
.header__author {
  font-size: medium;
}
