.output {
  margin-top: 1rem;
  margin-left: 5%;
  margin-right: 500px;
  min-width: fit-content;
  position: relative;
  left: -2.6rem;

}
.output__horizontal-flex {
  display: flex;
  justify-self: stretch;
  width: max-content;
}

.output__horizontal-item,
.output__vertical-item {
  color: grey;

  border-radius: 0.25rem;
  padding: 0.5rem;

  height: 2.5rem;
  width: 2.5rem;

  margin-left: var(--gap);

  display: flex;
  justify-content: center;
  align-items: center;
}

.output__horizontal-item:first-child {
  visibility: hidden;
}

.output__wrapper {
  display: flex;
}
.output__vertical-flex {
  margin-top: var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* layout */
.output__layout-grid {

  margin-left: var(--gap);
  margin-top: var(--gap);

  display: grid;
  gap: var(--gap);
  grid-template: repeat(var(--rowsInput), 1fr) / repeat(
      var(--columnsInput),
      1fr
    );
}

.output__layout-item {
  background-color: rgb(44, 44, 44);
  color: white;

  height: 2.5rem;
  width: 2.5rem;

  border-radius: 0.25rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.output_find-item {
  background-color: red;
}