.container {
  width: 90%;
  margin: 1rem auto 0;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  padding: 0.5rem;
  width: 9rem;
}

.maxinfo {
  color: grey;
  font-size: smaller;
  user-select: none;
}

.pointer-util {
  cursor: pointer;
}

.dont-show{
  display: none;
}

.stats-text {
  font-size: smaller;
}
