.container {
  /* border: 1px solid red; */
  width: 90%;
  margin: 1rem auto 0 ;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid black;

  padding: 0.5rem;
  width: 9rem;
}

.notavail {
  color: red;
  margin-left: 0.2rem;
}

.maxinfo {
  color: grey;
  font-size: smaller;
  user-select: none;
}

.dont-show{
  display: none;
}